*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-color
{
    background-color: #19A7CE;
}
.card-color{
   background-color:#f6f1f1;
}
.gapping{
    justify-content: space-around;
}
.footicon{
    color: #f6f1f1;
    margin: 10px 7px;
    padding: px;
    font-size: 17px;
}
.navbar-sizing{
    padding: 5px;
}